*.o
*.obj
*.lo
*.d

*.out
*.exe
*.a
*.lib
*.so
*.dylib

build/
cmake-build-debug/
cmake-build-release/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.log
*.tmp
*.swp
*.bak
*.pid
*.seed

*.dll
*.pdb
*.idb

tests/*.out
tests/*.exe

deps/
third_party/

results.json

*.pyc
*.pyo
__pycache__/

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

*.~*~
*.orig
*.rej
*.swo
*.swp